<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="map">
    <select id="get3DParcelList" parameterType="MapSearchRequest" resultType="MapSearchResponse">
        select
        mp.map_parcel_id mapParcelId
        ,mp.continent_id continentId
        ,mp.village_id villageId
        ,mp.user_id userId
        ,u.nick_name nickName
        ,u.twitter twitter
        ,u.facebook facebook
        ,u.discord discord
        ,vt.village_type villageType
        ,mp.user_img_url userImgUrl
        ,mp.parcel_x_3d parcelX
        ,mp.parcel_y_3d parcelY
        ,mp.moon_onoff moonOnoff
        ,cn.description description
        ,cn.img_url nftImgUrl
        ,vt.img_url villageTypeUrl
        ,IF(mp.user_img_url is not null,mp.user_img_url,IF(cn.img_url is not null,cn.img_url,cn2.img_url)) popupImgUrl
        from map_parcel mp
        left outer join cardano_nft cn on  mp.village_nft_id = cn.nft_id
        left outer join cardano_nft cn2 on  mp.land_nft_id = cn2.nft_id
        left outer join user u on u.user_id = mp.user_id
        left outer join village_type vt on  cn.village_type_id = vt.village_type_id
        where 1=1
        <if test="continentId != null and continentId != ''">
            <![CDATA[
            AND mp.continent_id = #{continentId}
            ]]>
        </if>
        <if test="villageId != null and villageId != ''">
            <![CDATA[
            AND mp.village_id = #{villageId}
            ]]>
        </if>
    </select><select id="getParcelInfo" parameterType="MapParcelSearchRequest" resultType="MapParcelSearchResponse">
        select
        mp.map_parcel_id mapParcelId
        ,mp.continent_id continentId
        ,mp.village_id villageId
        ,mp.user_id userId
        ,u.nick_name nickName
        ,u.twitter twitter
        ,u.facebook facebook
        ,u.discord discord
        ,vt.village_type villageType
        ,mp.user_img_url userImgUrl
        ,mp.parcel_x_3d parcelX
        ,mp.parcel_y_3d parcelY
        ,mp.land_type landType
        ,cn.description description
        ,cn.img_url nftImgUrl
        ,vt.img_url villageTypeUrl
        ,IF(mp.user_img_url is not null,mp.user_img_url,IF(cn.img_url is not null,cn.img_url,cn2.img_url)) popupImgUrl
        from map_parcel mp
        left outer join cardano_nft cn on  mp.village_nft_id = cn.nft_id
        left outer join cardano_nft cn2 on  mp.land_nft_id = cn2.nft_id
        left outer join user u on u.user_id = mp.user_id
        left outer join village_type vt on  cn.village_type_id = vt.village_type_id
        where 1=1
        <if test="parcelX != null and parcelX != 0">
            <![CDATA[
            AND mp.parcel_x_3d = #{parcelX}
            ]]>
        </if>
        <if test="parcelY != null and parcelY != 0">
            <![CDATA[
            AND mp.parcel_y_3d = #{parcelY}
            ]]>
        </if>
        <if test="continentId != null and continentId != ''">
            <![CDATA[
            AND mp.continent_id = #{continentId}
            ]]>
        </if>
        <if test="villageId != null and villageId != ''">
            <![CDATA[
            AND mp.village_id = #{villageId}
            ]]>
        </if>
    </select>
</mapper>
