.container {
    width: 100%;
    min-width: 280px;
    min-height: 100%;
    background: #F2F3F5;
    position: relative;
    z-index: 0;
}

.contents {
    max-width: 1320px;
    min-height: 77vh;
    margin: 0 auto;
    padding: 0 20px 120px 20px;
}

/*header style*/
.header {
    height: 0;
}

.headerWrap {
    border-bottom: solid 1px #dedede;
    background: #fff;
    font-family: "NanumSquareRound";
    color: #111;
    position: relative;
}

.logoTop {
    width: 235px;
    height: 120px;
    background: url("/static/img/logo_top.svg") center no-repeat;
    background-size: contain;
    margin-left: 60px;
    margin-top: 20px;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.indexSns {
    position: absolute;
    right: 60px;
    top: 40px;
    z-index: 200;
    border-radius: 30px;
    height: 60px;
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.indexSns .twitter {
    background: url("/static/img/twitter.svg")#1d9bf0 center no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.indexSns > a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: "NanumSquareRound";
    color: #111;
    font-size: 17px;
    line-height: 30px;
}

.contentsWrap {
    width: 100%;
    overflow: hidden;
}

.mainImg {
    width: 100%;
    min-width: 280px;
    height: 100vh;
    min-height: 970px;
    background-image: url("/static/img/mainBg.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    top: 0;
    position: relative;
    left: 0;
    z-index: 0;
}

.mainBottom {
    position: absolute;
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-width: 1320px;
    height: 160px;
    background-image: url("/static/img/mainBottom.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: repeat-x;
    z-index: 1;

}

.characterWrap {
    font-size: 0;
    position: absolute;
    bottom: 130px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
}

.character {
    width: 1280px;
    height: 720px;
    display: inline-block;
    vertical-align: top;
    background: url("/static/img/main_both.png") center no-repeat;
    background-size: contain;
}

.mainTitle {
    width: 100%;
    font-size: 100px;
    text-align: center;
    color: #ff8413;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 800;
    position: absolute;
    z-index: 3;
    top: 50px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px #fff;
}

.countDown {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 60px;
    -webkit-text-stroke: 1px #fff;
    color: #3129cc;
}

.mainTitle > span {
    font-size: 30px;
    line-height: 40px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0px #fff;
    color: #fff;
    font-family: "NanumSquareRound";
}

.contents {
    max-width: 1320px;
    min-width: 280px;
    margin: 0 auto;
    padding: 0 20px;
}

.contentsTitle {
    font-size: 26px;
    line-height: 36px;
    font-weight: 800;
    text-align: center;
    font-family: "NanumSquareRound";
    color: #111;
}


.blackArea {
    width: 100%;
    height: 100px;
}

.contentsText {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    font-family: "NanumSquareRound";
    color: #111;
}

.collectionText {
    font-size: 17px;
    line-height: 24px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    font-family: "NanumSquareRound";
    color: #111;
}

.contentsBox {
    font-size: 0;
    vertical-align: top;
}

.collection {
    width: 224px;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-right: 40px;
}

.collection:nth-child(5n) {
    margin-right: 0px;
}

.collectionImg {
    width: 224px;
    height: 298px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    position: relative;
}

.collectionImg > div.imgArea {
    width: 100%;
    height: inherit;
    overflow: hidden;
    background: url("/static/img/blank.png")#F2F3F5 center no-repeat;
    background-size: cover;
}

.collectionImg > div.imgArea > img {
    width: 100%;
    height: inherit;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.collectionImg:hover > div.imgArea > img {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.soldOut {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    background: url("/static/img/soldOut.png")rgba(255, 255, 255, 0.7) center no-repeat;
    background-size: 80%;
}

/*footer style*/
.footerWrap {
    width: 100%;
    background: #F2F3F5;
}

.footerArea {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.logoBottom {
    width: 100px;
    height: 50px;
    background: url("/static/img/logo_bottom.svg") center no-repeat;
    background-size: contain;
    margin-top: 40px;
}

.footerBottom {
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    font-family: "NanumSquareRound";
    padding-bottom: 70px;
}

@media all and (max-width:1319px) {

    .logoTop {
        margin-left: 20px;
        width: 157px;
        height: 80px;
    }

    .indexSns {
        right: 20px;
        top: 30px;
    }

    .mainTitle {
        top: 0;
    }
    .mainTitle {
        font-size: 70px;
    }

    .mainImg {
        height: 100vh;
        min-height: auto;
    }

    .mainBottom {
        height: 110px;
    }


    .characterWrap {
        bottom: 100px;
    }

    .collection:nth-child(5n) {
        margin-right: 40px;
    }

    .collection:nth-child(4n) {
        margin-right: 0px;
    }

    .contents {
        width: 1056px;
        margin: 0 auto;
    }

    .blackArea {
        height: 50px;
    }

}

@media all and (max-width:1055px) {
    .collection:nth-child(3n) {
        margin-right: 0px;
    }

    .collection:nth-child(4n) {
        margin-right: 40px;
    }

    .contents {
        width: 792px;
        margin: 0 auto;
    }
}

@media all and (max-width:791px) {
    .collection:nth-child(3n) {
        margin-right: 40px;
    }

    .collection:nth-child(2n) {
        margin-right: 0px;
    }

    .contents {
        width: 528px;
        margin: 0 auto;
    }

    .character {
        height: 600px;
    }

    .mainImg {
        height: 90vh;
    }
}

@media all and (max-width:527px) {
    .contents {
        width: 360px;
        margin: 0 auto;
    }

    .collection {
        width: 150px;
        margin-top: 30px;
        margin-right: 0;
    }

    .collection:nth-child(2n) {
        margin-left: 20px;
    }

    .collection:nth-child(3n) {
        margin-right: 0;
    }

    .collection:nth-child(5n) {
        margin-right: 0;
    }

    .collectionImg {
        height: 200px;
        width: 100%;
    }

    .contentsText {
        font-size: 15px;
        line-height: 25px;
    }

    .contentsTitle {
        font-size: 22px;
    }

    .character {
        height: 400px;
    }

    .mainTitle {
        font-size: 50px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .mainTitle > span {
        font-size: 20px;
        line-height: 35px;
    }

    .countDown {
        font-size: 40px;
    }

    .btnBuy {
        width: 100px;
        height: 45px;
        line-height: 45px;
    }
}

@media all and (max-width:374px) {
    .logoTop {
        width: 80px;
        height: 40px;
    }

    .indexSns {
        right: 20px;
        top: 20px;
        height: 40px;
        padding: 5px 10px;
    }

    .collectionImg {
        height: 146px;
    }

    .character {
        height: 300px;
    }

    .mainTitle {
        font-size: 30px;
    }

    .collection {
        width: 110px;
        margin-right: 0;
    }

    .contents {
        width: 270px;
        margin: 0 auto;
    }


}